<div class="container-fluid">
    <!-- --start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Add New Stationery</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0 justify-content-between">
                        <li class="breadcrumb-item"><a>Stationery</a></li>
                        <li><a>></a></li>
                        <li class="breadcrumb-item active"><a>Create Stationery</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- --end page title -->
    <form action="" id="createproduct-form" autocomplete="off" class="needs-validation">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="avata-title mr-3 ">
                                <i class="ri-instance-line"></i>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="card-title mb-1">Stationery Info</h5>
                                <p class="text-muted mb-0">Fill out the information below.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Tiêu đề sản phẩm</label>
                            <input type="hidden" class="form-control">
                            <input type="text" class="form-control d-none">
                            <input type="text" class="form-control" placeholder="Nhập tiêu đề sản phẩm">
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title">Mô tả Sản phẩm</label>
                            <!-- app.component.html -->

                            <!-- app.component.html -->

                            <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
                        </div>
                    </div>
                </div>
                <!-- end-card -->
            </div>
            <!-- end-col -->
            <div class="col-xl-3 col-lg-4">
            </div>
            <!-- end-col -->
        </div>
        <!-- end-row -->
    </form>
</div>