<!-- User List Start -->
<div class="card card-table">
    <div class="card-body">
        <div class="title-header option-title">
            <h5>User List</h5>
            <div class="right-options">
                <ul>
                    <li>
                        <a class="btn btn-solid" routerLink="/user/create">Add User</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-responsive css-overflow-x">
            <div class="product-search">
                <label class="form-check-label" for="checkbox-1">Search:</label>
                <input type="search" class="" placeholder="" aria-controls="table_id">
            </div>
            <table class="table all-package theme-table table-product" id="table_id">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User Id</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Avatar</th>
                        <th>Superior</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of users">
                        <td class="">
                            <span>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="checkbox-1">
                                    <label class="form-check-label" for="checkbox-1"></label>
                                </div>
                            </span>
                        </td>
                        <td>{{item.userId}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>
                            <div class="table-image">
                                <img src="{{defaultUrl}}{{item.image}}" class="img-fluid" alt="">
                            </div>
                        </td>
                        <td>{{item.superiorId}}</td>
                        <td>{{item.role.roleName}}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="order-detail.html">
                                        <i class="ri-eye-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/user/update/{{item.userId}}">
                                        <i class="ri-pencil-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="delete(item.userId)" style="cursor: pointer;" data-bs-toggle="modal"
                                        data-bs-target="#exampleModalToggle">
                                        <i class="ri-delete-bin-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>