<!-- User List Start -->
<div class="card card-table">
    <div class="card-body">
        <div class="title-header option-title">
            <h5>Role List</h5>
            <div class="right-options">
                <ul>
                    <li>
                        <a class="btn btn-solid" routerLink="/roles/create">Add Role</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-responsive css-overflow-x">
            <div class="product-search">
                <label class="form-check-label" for="checkbox-1">Search:</label>
                <input type="search" class="" placeholder="" aria-controls="table_id">
            </div>
            <table class="table all-package theme-table table-product" id="table_id">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Role Id</th>
                        <th>Role Name</th>
                        <th>Amount Per Month</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of roles">
                        <td class="">
                            <span>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="checkbox-1">
                                    <label class="form-check-label" for="checkbox-1"></label>
                                </div>
                            </span>
                        </td>
                        <td>{{item.roleId}}</td>
                        <td>{{item.roleName}}</td>
                        <td>{{item.thresholdAmountPerMonth}}</td>
                        <td>
                            <ul>
                                <li>
                                    <a routerLink="/roles/update/{{item.roleId}}">
                                        <i class="ri-pencil-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="delete(item.roleId)" style="cursor: pointer;">
                                        <i class="ri-delete-bin-line"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>