<!-- create-category -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 m-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-header-2">
                        <h5>Update Category Information</h5>
                    </div>
                    <form action="" [formGroup]="formData" (ngSubmit)="onSubmit()"  class="theme-form theme-form-2 mega-form">
                        <div class="mb-4 row align-items-center">
                            <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" formControlName="categoryName" type="text" placeholder="Category Name">
                                <div *ngIf="f.categoryName.invalid && (f.categoryName.dirty || f.categoryName.touched)" class="text-danger">
                                    <div *ngIf="f.categoryName.errors?.['required']">
                                        This is a required field.
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary"[disabled]="formData.invalid">Sumbit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>