<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 m-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-header-2">
                        <h5>Role Information</h5>
                    </div>
                    <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="theme-form theme-form-2 mega-form">
                        <div class="mb-4 row align-items-center">
                            <label class="form-label-title col-sm-3 mb-0">Role Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" formControlName="roleName" type="text"
                                    placeholder="Role Name">
                                <div *ngIf="f.roleName.invalid && (f.roleName.dirty || f.roleName.touched)"
                                    class="text-danger">
                                    <div *ngIf="f.roleName.errors?.['required']">
                                        <small>This is a required field.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 row align-items-center">
                            <label class="form-label-title col-sm-3 mb-0">Amount Per Month</label>
                            <div class="col-sm-9">
                                <input class="form-control" formControlName="thresholdAmountPerMonth" type="number"
                                    placeholder="Thershold Amount Per Month" value="0">
                                <div *ngIf="f.thresholdAmountPerMonth.invalid && (f.thresholdAmountPerMonth.dirty || f.thresholdAmountPerMonth.touched)"
                                    class="text-danger">
                                    <div *ngIf="f.thresholdAmountPerMonth.errors?.['min']">
                                        <small>Amount must be greater than 0 </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary " [disabled]="!formData.valid">Sumbit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>