<!-- create-category -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 m-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-header-2">
                        <h5 class="card-title">Add Request Detail Infomation</h5>
                    </div>
                    <form [formGroup]="importDetailForm" (ngSubmit)="onSubmit()" class="form-group">
                        <div class="mb-3">
                            <label for="stationeryId" class="form-label">Stationery:</label>
                            <select formControlName="stationeryId" class="form-control" id="stationeryId">
                                <option value="">Please select stationery</option>
                                <option *ngFor="let stationery of stationeries" [value]="stationery.stationeryId">
                                    {{stationery.name}}</option>
                            </select>


                            <label for="quantity" class="form-label">Quantity:</label>
                            <input type="number" formControlName="quantity" class="form-control" id="quantity" />


                        </div>

                        <button type="button" (click)="addImportDetail()" class="btn btn-primary">Add stationery to
                            request</button>
                    </form>
                    <div class="card-header-2">
                        <h5 class="card-title">Add New Request</h5>
                    </div>
                    <form (ngSubmit)="onSubmit()" class="form-group">
                        <label for="importDate" class="form-label mt-3">Request Details:</label>
                        <div class="p-2">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let importDetail of importDetailList; let i = index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{importDetail.stationeryId}}</td>
                                        <td>{{importDetail.quantity}}</td>
                                        <td>
                                            <a class="btn btn-danger" role="button"
                                                (click)="removeImportDetail(i)">Remove</a>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <button type="submit" class="btn btn-success mt-3">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>