<div class="container-fluid">
    <!-- --start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Update User</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0 justify-content-between">
                        <li class="breadcrumb-item"><a>User</a></li>
                        <li><a>></a></li>
                        <li class="breadcrumb-item active"><a>Update User</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- --end page title -->
    <form [formGroup]="formData" (ngSubmit)="onSubmit()" id="createproduct-form" autocomplete="off"
        class="needs-validation">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="avata-title mr-3 ">
                                <i class="ri-instance-line"></i>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="card-title mb-1">User Information</h5>
                                <p class="text-muted mb-0">Fill in the required information below.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Name</label>
                            <input type="text" formControlName="name" class="form-control"
                                placeholder="Please enter the name">
                            <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="text-danger">
                                <div *ngIf="f.name.errors?.['required']">
                                    <small>This is a required field.</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Email</label>
                            <input type="text" formControlName="email" class="form-control"
                                placeholder="Please enter the email">
                            <div *ngIf="f.email.invalid && (f.email.dirty||f.email.touched)">
                                <div *ngIf="f.email.errors?.['required']">
                                    <small id="helpId" class="text-danger">Email is required</small>
                                </div>
                                <div *ngIf="f.email.errors?.['email']">
                                    <small id="helpId" class="text-danger">A valid email address is
                                        required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Avatar</label>
                            <input type="file" class="form-control" (change)="changeImage($event)">
                            <img *ngIf="image" [src]="image" alt="" width="50px">
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Choose the superior</label>
                            <select class="form-control" formControlName="superiorId" style="width: 170px;">
                                <option *ngFor="let item of superiors" value="{{item.userId}}">{{item.name}} </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label-title" for="product-title-input">Please select the role</label>
                            <select class="form-control" formControlName="roleId" style="width: 170px;">
                                <option *ngFor="let item of roles" value="{{item.roleId}}">{{item.roleName}} </option>
                            </select>
                        </div>
                        <button class="btn btn-primary" [disabled]="!formData.valid">Submit</button>
                    </div>

                </div>
                <!-- end-card -->
            </div>
            <!-- end-col -->
            <div class="col-xl-3 col-lg-4">

            </div>
            <!-- end-col -->
        </div>
        <!-- end-row -->
    </form>
</div>