<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 m-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-header-2">
                        <h5>Import Detail Information</h5>
                    </div>
                    <form action="" class="theme-form theme-form-2 mega-form">
                        <div class="mb-4 row align-items-center">
                            <label class="col-sm-3 col-form-label form-label-title">Category</label>
                            <div class="col-sm-9">
                                <div class="">
                                    <select class="form-select form-select-lg mb-3 form-control" aria-label=".form-select-lg example">
                                        <option selected>Open this select menu</option>
                                        <option value="1" class="form-control">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </div>
                            </div>
                        </div>

                        <div class="mb-4 row align-items-center">
                            <label class="form-label-title col-sm-3 mb-0">Quantity</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" placeholder="Quantity">
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-danger ">Sumbit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>