<!-- create-category -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 m-auto">
            <div class="card">
                <div class="card-body">
                    <div class="card-header-2">
                        <h5>Category Information</h5>
                    </div>
                    <form action="" class="theme-form theme-form-2 mega-form">
                        <div class="mb-4 row align-items-center">
                            <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" placeholder="Category Name">
                            </div>
                        </div>
                        <div class="mb-4 row align-items-center">
                            <label class="col-sm-3 col-form-label form-label-title">Category
                                Image</label>
                            <div class="form-group col-sm-9">
                                <div class="dropzone-wrapper">
                                    <div class="dropzone-desc">
                                        <i class="ri-upload-2-line"></i>
                                        <p>Choose an image file or drag it here.</p>
                                    </div>
                                    <input type="file" class="dropzone dz-clickable">
                                </div>
                            </div>
                        </div>
                        <div class="mb-4 row align-items-center">
                            <div class="col-sm-3 form-label-title">Select Category Icon</div>
                            <div class="col-sm-9">
                                <div class="dropdown icon-dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Select Icon
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <img src="../assets/svg/1/vegetable.svg" class="img-fluid" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-danger ">Sumbit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>